<br>
<div class="jumbotron">
   <h1>Blocipedia: Social, Markdown Wikis</h1>
   <h4>Create and share Markdown Wikis</h4>
</div>

 <div class="row">
   <div class="col-md-4">
     <h2>Section 1</h2>
     <p>desc1</p>
   </div>
   <div class="col-md-4">
     <h2>Section 2</h2>
     <p>desc2</p>
   </div>
</div>
