<br>
<div class="jumbotron">
   <h1>Blocipedia</h1>
   <p>(insert description)</p>
   <p>Test
   </p>
</div>

 <div class="row">
   <div class="col-md-4">
     <h2>Solves world hunger</h2>
     <p>desc1</p>
   </div>
   <div class="col-md-4">
     <h2>Eliminates poverty</h2>
     <p>desc2</p>
   </div>
</div>
