 <h1>Edit Wiki</h1>

 <div class="row">

   <div class="col-md-4">
     <b>Guidelines:</b>
     <ul>
       <li>1</li>
       <li>2</li>
       <li>3</li>
     </ul>
     
     <br>

     <% if current_user.admin? || (@wiki.user == current_user && current_user.premium?) %>  
       <%= render partial: "collaborators/collaborators", locals: { wiki: @wiki } %>
     <% end %>
   </div>


   <div class="col-md-8">
     <%= render partial: "form", locals: { wiki: @wiki } %>
   </div>

 </div>
